/* #3D3D55*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
a {
color: unset;
text-decoration: unset;
}

button {
cursor: pointer; 
}

html, body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 16px;
    box-sizing: border-box;
}

.centro {
    min-height: 100vh;
    width: 100%;
    padding: 20px 40px;
    background-color: #32323E;
    display: flex;
    justify-content: center;
    align-items: start;
}

header {
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393B58;
}

.menu {
    width: 90%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}   

.menu > div {
    display: flex;
}

.li-perfil {
    height: 90%;
    display: flex;
    flex-direction: row;
}

.perfil {
    width: 100%;
    height: 90%;
    border-radius: 50%;
}